

body{
background-image: url(./components/Assests/Images/bs9.jpg);
background-size: cover; 
background-repeat: no-repeat;
}

.b1{
  margin-left: 30%;
  padding-top: 10px;
  font-style: oblique;
  font-size: 180%;
  font-weight: 200;
}
.b1:hover{
  

  
}